:root {
  --primary-color: #e9437a;
  --background-color: #fff;
  --text-color: #333;
  --border-radius: 4px;
  --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --spacing: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

.header {
  background-color: var(--primary-color);
  color: white;
  padding: var(--spacing);
  text-align: center;
  margin-bottom: var(--spacing);

  h1 {
    margin: 1rem;
    font-size: 28px;
    font-weight: bolder;
  }

  h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
  }
}
